body {
    background-color:  #ffffff;
  }
  
  .card-block {
      font-size: 1em;
      position: relative;
      padding: 5px 15px;
      border: none;      
  }
  .card {
      font-size: 1em;
      overflow: hidden;
      padding: 0px 15px;
      border: none;
      margin-top:0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  .detail-img{
    height: 70vh;
  }
.detail-img img{
    align-self: flex-end;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(185, 180, 180, 0.61);
}
.detail-info{
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}
.card-info{
    height: 100%;
}